<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Doc.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" type="text/css" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        {{ if .PathMatches "/api/location/search/" }}
          <h1 class="title is-1">Search Results</h1>
          <ul style="margin-bottom: 20px;">
            {{ range .Doc.data }}
              <li><a href="/api/location/{{ .woeid }}/">{{ .title }}</a></li>
            {{ end }}
          </ul>
        {{ else }}
          <h1 class="title is-1">{{ .Doc.title }} Weather</h1>
          <div class="columns">
            {{ range .Doc.consolidated_weather }}
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <p class="title is-3">{{ $.Replace ($.Truncate (print .applicable_date) -5) "-" "/" }}</p>
                  <figure class="image">
                    <img src="/static/img/weather/{{ .weather_state_abbr}}.svg" alt="{{ .weather_state_name }}">
                  </figure>
                  <div class="content has-text-centered">
                    <p class="title is-4">{{ .weather_state_name }}</p>
                    <p class="title is-4">{{ $.Truncate (print .min_temp) 4 }} - {{ $.Truncate (print .max_temp) 4 }}&deg; C</p>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        {{ end }}
        <div class="columns">
          <div class="column">
            <form action="/api/location/search/">
              <div class="field has-addons">
                <div class="control">
                  <input class="input" type="text" name="query" placeholder="Find a city">
                </div>
                <div class="control">
                  <a class="button is-info">
                    Search
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="column">
            <p class="has-text-right">data provided by <a href="https://www.metaweather.com/">metaweather.com</a></p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>